#root {
  height: 100vh;
}

.App {
  /* background-color: #282c34; */
  background: no-repeat center/100% url("./photos/chris-pickett--QKpblZde5I-unsplash.jpg");
  background-size:  cover;
  min-height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vw); /* calc(10px + 2vmin); */ 
  color: black;  /* was white */
}

.menu, .logo {
  display: inline-block;
  font-weight: 500;
  border: 3px solid white;
  padding: 10px 22px;
  position: fixed;
  color: white;
  font-size: 22px;
  text-decoration: none;

  box-shadow: 0 6px 9px rgba(0,0,0,0.32), 0 3px 6px rgba(0,0,0,0.46);
  border-radius: 5px;
}

.menu {
  right: 3.0vw;
  top: 3.0vw;
}

.logo {
  left: 3.0vw;
  top: 3.0vw;
}

.active {
  color: green !important;
}

.button1 {
  padding: 10px 22px;
  background-color: transparent;
  color: grey;
  font-size: .7em;
  border: 1px solid grey;
}

.button1:nth-of-type(2) {
   margin: 0 12px;
}
.link {
  display: block;
  color: darkgreen;
  padding: 8px;
  text-decoration: none;
}


.deckOptionButton {
  display: block;
  padding: 12px 6px;
  margin: 12px;
  border: 2px solid grey;

  border-radius: 7px;
  /* display: inline-block; */
  padding: 1em 3em;
  background-color: transparent;
  color: #505050;
  font-size: .7em;
  text-decoration: none;
  font-weight: 800;
}


div.choose_list, .choose_group, .choose_stack {
  box-shadow: 0 6px 9px rgba(0,0,0,0.32), 0 3px 6px rgba(0,0,0,0.46);
  background: rgba(255,255,255, 0.9);
  border-radius: 2px;
  display: inline-block;
  margin: 1rem;
  padding: 3rem 3rem;
  position: relative;
  text-align: center;
  margin-top: 3vw;  /* */
}

.choose_group {
  text-align: center;
}

.list_of_groups {
  display: flex;
  max-height: 80vh;
  max-width: 85vw;
  flex-wrap: wrap;
  justify-content: center;
  font-size: calc(10px + .8vw); /* calc(10px + 2vmin); */ 
}

.flashcards {
  display: flex;
  flex-direction: row;
}

.flashcards_main, .flashcards_words {
  box-shadow: 0 6px 9px rgba(0,0,0,0.32), 0 3px 6px rgba(0,0,0,0.46); 
  background: rgba(255,255,255, 0.9);
  border-radius: 3px;
  margin-top: 3vw;
}

.flashcards_main {
  flex-grow: 1;
  margin-right: 2.5em;
  padding: 2em 3em;

  width: 60vw;

}

.flashcards_words {
  flex-grow: 1;
  text-align: center;
  padding: 1.5em 1em;
  font-size: calc(10px + 0.6vw); /* calc(10px + 2vmin); */ 
}

p.gloss {
  display: inline-block;
  font-size: calc(10px + 0.75vw); /* calc(10px + 2vmin); */ 
}

.stackList {
  margin: 5px auto;
}

.isFlipped_display {
  min-height: 35vh;
}

.isFlipped_display h1 {
  cursor:  pointer;
}

.separator {
  border-top: 2px solid black;

  width: 50%;
  display: inline-block;
  text-align: center;
  margin-bottom: .7em;
}



.example-enter {
  opacity: 0.01;
}
.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 100ms ease-in;
}
.example-leave {
  opacity: 1;
}
.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 100ms ease-in;
}
.example-appear {
  opacity: 0.01;
}
.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .1s ease-in;
}


.option2-enter {
  opacity: 0.01;
}
.option2-enter.option2-enter-active {
  opacity: 1;
  transition: opacity 100ms ease-in;
}
.option2-leave {
  opacity: 1;
}
.option2-leave.option2-leave-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}
.option2-appear {
  opacity: 0.01;
}
.option2-appear.option2-appear-active {
  opacity: 1;
  transition: opacity .2s ease-in;
}



/* ----------- mobile and tablet styles ----------- */
/* Portrait and Landscape */
@media only screen 
  and (max-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 2) {
    #root { min-height: -webkit-fill-available !important; height: 705px !important;}  /* for XR specifically, otherwise 100vh */
    .flashcards { flex-direction: column !important; align-items: center;  }
    .flashcards_main { margin-right: 0 !important; width: 82vw !important; padding: 2em 2em !important;}
    .flashcards_words { max-width: 90vw !important; padding: 1em 1em !important; }
    .flashcards_words h3{ margin: 8px 0px;}
    .deckOptionButton { font-size: 1em; }
     p.gloss {font-size: calc(12px + 1vw) !important; margin: 5px 0 !important;}
    .stackList {display: inline-block; margin: 5px 8px !important; font-size: 14px !important;}
    .menu, .logo {
      border: 2px solid white;
      padding: 6px 12px;
      font-size: 16px;
      box-shadow: 0 2px 3px rgba(0,0,0,0.16), 0 1px 3px rgba(0,0,0,0.26);
    }
    .button1 {
        padding: 10px 22px;
        background-color: transparent;
        color: grey;
        font-size: .7em;
        border: 1px solid grey;
     }
     .button1:nth-of-type(2) { margin: 0 10px !important; }
     .choose_group {margin-top: 50px !important; padding: 2.4rem 1.75rem; }
     .list_of_groups, .choose_stack a { font-size: calc(10px + 1.1vw); /* calc(10px + 2vmin); */ }
}